@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css");
@import url("https://fonts.googleapis.com/css2?family=Hind+Madurai:wght@400;500;600;700&family=Jost:wght@300;400;500;600;700&family=Laila:wght@400;500&family=Lexend:wght@300;400;500;600&display=swap");
$jost: "Jost", sans-serif;
$lexend: "Lexend", sans-serif;
// $lexend: "Jost", sans-serif;
$redLight: #fe7f6e;
$orange: #fa7921;
$grey: #f1f2f6;
// $gradient: linear-gradient(-60deg, #ff5858 0%, #f09819 100%);
$gradient: rgb(255, 88, 88);
// Breakpoints
$xl: 1280px;
$lg: 1024px;
$md: 768px;
$sm: 640px;
